/* Stile für die Neuseelandreise */

body {
    background-color: silver;
}

header{
    text-align: center;
}

img.user{/* da gehts um Klassen */
border-radius: 50%;
margin-top: -50px;
}


main {
    background-color: white;
    max-width: 1024px;
    margin: auto;
}

article {
    padding: 1em;
}

article p {
    text-align: justify;
    /* alle Absätze im Blocksatz*/
    line-height: 1.2em;
}

a {
    color: black;
}

footer{
    border-top: 1px solid black;
    padding: 1em 2em 3em 2em;
}

footer .back{
    float: left;
}

footer .next{
    float: right;
}

/*
article a :hover{
    color: green;
    font-size: 20px;
}*/